<%- include('../partials/header'); %>

<body class="container">
    <%- include('../partials/aside') %>
    <main class="content">
        
        <h1>Editer une parcelle</h1>
        
        <form id="formPlotEdit" action="/admin/plots/<%= plot.id %>/edit" method="post">
            <% if(locals.error) {%>
                <div class="message is-danger">
                    <p class="message-body"><%= error.message %></p>
                </div>
            <% } %>
            <div class="field">
                <label class="label">Nom</label>
                <div class="control">
                    <input class="input" name="name" type="text" placeholder="Nom de la parcelle"  value="<%= plot.name %>">
                </div>
            </div>
            <div class="field is-grouped">
                <div class="control">
                    <button type="submit" class="button is-link">Enregistrer</button>
                </div>
                <div class="control">
                    <a href="/admin/plots" class="button is-link is-light">Annuler</a>
                </div>
            </div>
        </form>
    </main>
</body>
</html>