<%- include('../partials/header'); %>

<body class="container">
    <aside>
        <a href="/admin">Home</a>
        Catégories
    </aside>
    <main class="content">
        <h1>Liste des parcelles</h1>
        <%- include('../components/btn_link', {link: `plots/create`, title: 'Ajouter une nouvelle parcelle', icon: 'mdi-new-box', className: 'is-info'}); %>
        <table class="table">
            <thead>
                <th>Id</th>
                <th>Nom</th>
                <th>Actions</th>
            </thead>
            <tbody>
                <% for(const plot of plots) { %>
                <tr>
                    <th><%= plot.id %></th>
                    <td><%= plot.name %></td>
                    <td>
                        <%- include('../components/btn_link', {link: `plots/${plot.id}/detail`, title: 'Voir le détail', icon: 'mdi-eye-outline', className: 'is-info'}); %> 

                        <%- include('../components/btn_link', {link: `plots/${plot.id}/edit`, title: 'Editer', icon: 'mdi-pencil', className: 'is-success'}); %>

                        <%- include('../components/btn_link', {link: `plots/${plot.id}/delete`, title: 'Supprimer', icon: 'mdi-delete', className: 'is-danger'}); %>  
                    </td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </main>
</body>
</html>