<%- include('../partials/header'); %>

<body class="container">
    <aside>
        <a href="/admin">Home</a>
        Catégories
    </aside>
    <main class="content">
        <h1>Editer une variété</h1>
        <form action="<%= actionLink %>" method="post">
            <div class="field">
                <label class="label">Nom</label>
                <div class="control">
                    <input class="input" name="name" type="text" placeholder="Nom de la variété" value="<%= variety.name %>">
                </div>
            </div>
            <div class="field">
                <label class="label">Description</label>
                <div class="control">
                    <textarea class="textarea" name="description" id="description" cols="30" rows="10" placeholder="Description de la variété"><%= variety.description %></textarea>
                </div>
            </div>
            <%- include('../components/harvest_date_picker/edit', { element: variety, action: 'edit' }) %>
            <div class="field">
                <label for="product" class="label">Produit :</label>
                <select name="productId" id="product" class="select">
                    <% for (const product of products) { %>
                        <option value="<%= product.id %>" <% if (product.id === variety.product.id) { %> selected <% } %>><%= product.name %></option>
                    <% } %>
                </select>
            </div>
            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-link">Submit</button>
                </div>
                <div class="control">
                    <button class="button is-link is-light">Cancel</button>
                </div>
            </div>
        </form>
    </main>
</body>
</html>