<%- include('../partials/header'); %>

<body class="container">
<%- include('../partials/aside') %>
    <main class="content">
        <h1>Detail d'une réservation</h1>
        <form action="<%= actionLink %>">
            <div class="field">
                <label class="label">Réservation faite le</label>
                <div class="control">
                    <input class="input" name="bookingAt" type="text" placeholder="Réservation faite le" value="<%= booking.bookingAt %>" disabled>
                </div>
            </div>
            <div class="field">
                <label class="label">Date de la visite</label>
                <div class="control">
                    <input class="input" name="visitAt" type="text" placeholder="Date de la visite" value="<%= booking.visitAt %>" disabled>
                </div>
            </div>
            <div class="field">
                <label class="label">Créneau horaire</label>
                <div class="control">
                    <label class="radio">
                    <input type="radio" name="slot" value="morning" <% if (booking.slot === 'morning') { %> checked <% } %> disabled>
                        Matinée
                    </label>
                    <label class="radio">
                    <input type="radio" name="slot" value="afternoon" <% if (booking.slot === 'afternoon') { %> checked <% } %> disabled>
                        Après-midi
                    </label>
                </div>
            </div>
            <div class="field">
                <label class="label">Ecole</label>
                <div class="control">
                    <input class="input" name="name" type="text" placeholder="Nom de l'école" value="<%= booking.name %>" disabled>
                </div>
            </div>
            <div class="field">
                <label class="label">Contact</label>
                <div class="control">
                    <input class="input" name="contact" type="text" placeholder="Personne à contacter" value="<%= booking.contact %>" disabled>
                </div>
            </div>
            <div class="field">
                <label class="label">Téléphone</label>
                <div class="control">
                    <input class="input" name="phone" type="text" placeholder="Téléphone" value="<%= booking.phone %>" disabled>
                </div>
            </div>
            <div class="field">
                <label class="label">Email</label>
                <div class="control">
                    <input class="input" name="mail" type="text" placeholder="Email" value="<%= booking.mail %>" disabled>
                </div>
            </div>
            <div class="field">
                <label class="label">Adresse</label>
                <div class="control">
                    <input class="input" name="address" type="text" placeholder="Adresse" value="<%= booking.address %>" disabled>
                </div>
            </div>
            <div class="field">
                <label class="label">Ville</label>
                <div class="control">
                    <input class="input" name="city" type="text" placeholder="Ville" value="<%= booking.city %>" disabled>
                </div>
            </div>
            <div class="field">
                <label class="label">Code postal</label>
                <div class="control">
                    <input class="input" name="zipcode" type="text" placeholder="Code postal" value="<%= booking.zipcode %>" disabled>
                </div>
            </div>
            <div class="field">
                <label class="label">Nombre d'élèves</label>
                <div class="control">
                    <input class="input" name="studentNumber" type="text" placeholder="Nombre d'élèves" value="<%= booking.studentNumber %>" disabled>
                </div>
            </div>
            <div class="field">
                <label class="label">Nombre de groupes</label>
                <div class="control">
                    <input class="input" name="groupNumber" type="text" placeholder="Nombre de groupes" value="<%= booking.groupNumber %>" disabled>
                </div>
            </div>
            <div class="field">
                <label class="label">Nombre d'accompagnants</label>
                <div class="control">
                    <input class="input" name="guideNumber" type="text" placeholder="Nombre d'accompagnants" value="<%= booking.guideNumber %>" disabled>
                </div>
            </div>
            <div class="field">
                <label class="label">Moyen de transport</label>
                <div class="control">
                    <input class="input" name="transport" type="text" placeholder="Moyen de transport" value="<%= booking.transport %>" disabled>
                </div>
            </div>
            <div class="field">
                <label class="label">Confirmation de la visite?</label>
                <div class="control">
                    <input class="input" name="isConfirm" type="text" placeholder="Confirmation de la visite?" value="<%= booking.isConfirm %>" disabled>
                </div>
            </div>
            <div class="field is-grouped">
                <div class="control">
                    <%- include('../components/btn_action', {title: 'Editer', icon: 'mdi-pencil', className: 'is-link', domain: 'bookings', element: booking}); %> 
                </div>
                <div class="control">
                    <%- include('../components/btn_link', {link: 'bookings', title: 'Retour', icon: 'mdi-arrow-down-left-bold', className: 'is-link is-light', element: booking}); %> 
                </div>
            </div>
        </form>
    </main>
</body>
</html>